
 .img-fluid{
    display:block;
    overflow:hidden;
    border:1px solid transparent;
    width:100%;
    height: 500px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}
.img-fluid:hover{
    transform:scale(1.2);
}
.contact p {
    margin-top: 100%;
    padding: 30%;
    height: 50%;
    color: #fff;
} 
.contact h3 {
    
    color: rgb(206, 125, 20);
 
 
}


.us{
 border: 5px solid  transparent;
display:flex;   
justify-content: space-between;
padding: 20px;

      
   
}
.contactus{
 
    border:4px solid transparent;
    border-radius: 7px;
    width:  500px;
    height: 350px;
    background: #f8f8f2;
    text-align:left;
    padding-inline: 10px;
    padding-top: 45px;
    font-weight: normal;
   margin-top: 5%;
   padding-top: 7%;
    border-top-left-radius: 8rem;
    box-shadow: 3px 3px rgb(235, 207, 224), -1em 0 .4em rgb(199, 160, 88);
   

}
.contactus:hover{
    box-shadow:rgb(129, 129, 136) ;
}
span{
    font-size: 25px;
    cursor: pointer;
    margin-left: 6px;
   
    font-weight: normal;

}

